
 <%- include('../partials/header.ejs') %>
 <%- include('../partials/_navbar.ejs') %>
<h1>Sign in</h1>
<form action="/auth/login" method="POST">
     <label for="username">Username:</label>
     <input type="text" name="username" id="username" required />
     <label for="password">Password:</label>
     <input type="password" name="password" id="password" required />
    <button type="submit">Sign in</button>
</form>
 <%- include('../partials/footer.ejs') %>
