<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<h1>Welcome to the Sign up page!</h1>

<form action="/auth/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirmPassword">Confirm Password:</label>
    <input 
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required 
    />
    <button type="submit">Sign up</button>
</form>
<%- include('../partials/footer.ejs') %>