<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<div>
  <h1>Welcome to the Sign up page!</h1>
  <section class='main'>
      <div class="firstcontainer">
        <img src="https://i.imgur.com/OW6eVPw.png" alt="Ark A logo with adult and baby dinosaurs climbing on it" id="logo">
      </div>
      <div id="content" class="secondcontainer">
          <div class="backgroundimage"></div>
          <div class="subcontainer">
            <form action="/auth/sign-up" method="POST">
              <label for="username">Username:</label>
              <input type="text" name="username" id="username" required />
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" required />
              <label for="confirmPassword">Confirm Password:</label>
              <input 
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                required 
              />
              <button type="submit">Sign up</button>
            </form>
          </div>
        </div>    
        <div id="description" class="thirdcontainer">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni molestiae perspiciatis corrupti ipsam corporis voluptate facere, quis provident quisquam blanditiis reiciendis incidunt nesciunt quam officia iste eveniet, ipsum accusantium voluptas?</p>
        </div>    
    </section>    
    <div>
    </div>    
</div>            

<%- include('../partials/footer.ejs') %>


