<nav>
    <!-- Put links that you want to display at all times
         outside of the if/else 
    -->
    <a href="/">HOME</a>
    <div>
      <% if (user) { %>
        <a href="/todos/new">Protected Route</a>&nbsp;&nbsp;
        <a href="/auth/logout">LOG OUT</a>&nbsp;&nbsp;
        <span>Wecome, <%= user.username %></span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/login">LOG IN</a>
      <% } %>
      </div>
  </nav>