

<div id="citation">
    <p>Thank you so much to everyone who helped me!</p> 
    <ul>
        <li>Robin - Artwork</li>
        <li>Dan Leveille - Database from his app Dododex</li>
        <li>My teachers</li>
    </ul>

</div>
<p>Phillip McKenzie &copy; 2024</p>













</body>
</html>