
<%- include('./partials/header.ejs') %>
<%- include('./partials/_navbar.ejs') %>

<div>
    <h1 id="intro">Welcome to Arkenetics!</h1>
    <h3>A web application to assist with breeding in the popular game Ark: Survival Evolved.</h3>
    <section class='mainhome'>
        <div id="content" class="secondcontainer">
            <div class="backgroundimage"></div>
            <div class="subcontainer">
                <!-- <img src="" alt="" id="logo"> -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni molestiae perspiciatis corrupti ipsam corporis voluptate facere, quis provident quisquam blanditiis reiciendis incidunt nesciunt quam officia iste eveniet, ipsum accusantium voluptas?</p>
                
            </div>
        </div>    
    </section>    
</div>

<%- include('./partials/footer.ejs') %>

