
<%- include('./partials/header.ejs') %>
<%- include('./partials/_navbar.ejs') %>


<div>
    <h1 id="intro">Welcome to Arkenetics!</h1>
    <h3>A web application to assist with breeding in the popular game Ark: Survival Evolved.</h3>
    <section class='main'>
        <img src="" alt="" id="logo">
        <div id="content">
            <p>CENTER</p>
        </div>
        <div id="description">
        
            <p>DESCRIPTION </p>
        </div>
    </section>
    <div>

    </div>

</div>




<%- include('./partials/footer.ejs') %>







<!-- // \give instructions on how to work the site -->