
<%- include('./partials/header.ejs') %>
<%- include('./partials/_navbar.ejs') %>


<div>
    <h1 id="intro">Welcome to Arkenetics!</h1>
    <h3>A web application to assist with breeding in the popular game Ark: Survival Evolved.</h3>
    <section class='main'>
        <div class="firstcontainer">
            <!-- <img src="" alt="" id="logo"> -->
            <p> LOGO </p>
        </div>
        <div id="content" class="secondcontainer">
            <p>CENTER</p>
        </div>
        <div id="description" class="thirdcontainer">
        
            <p>DESCRIPTION </p>
        </div>
    </section>
    <div>

    </div>

</div>




<%- include('./partials/footer.ejs') %>

