* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* grid-template-rows: 8vh 1fr 4vh; */
    background-image: url('https://i.imgur.com/jwUYdzb.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

#citation {
  /* margin-top: 100vh; */
  margin-bottom: 0vh;
}
  
  nav, #citation {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vmin;
    font-size: 2vh;
    color: rgb(0, 0, 0);
    height: 7vh;
    
  }
  

  nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 1vmin;
    border-radius: 1vmin;
    &:hover {
      color: gray;
      background-color: lightslategray;
      color: white;
    }
  }
  
  nav span {
    font-size: 1.5vmin;
    color: lightslategray;
  }
  
  /* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vmin;
  } */
  
  form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vmin;
  }
  
  form * {
    font-size: 2vmin;
    padding: 1vmin;
    border-radius: 1vmin;
  }
  
  button:hover {
    background-color: lightslategray;
    color: white;
  }

  .main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-content: space-around;
    align-items: center;
    /* background-color: lightgray; */
    gap: 20px;

    
      /* #content {
        width: 30vw;
        height: 30vw;
        border: 2px solid red;
      } */
  }

  h1, h3 {
    text-align: center;
  }

  .firstcontainer, .secondcontainer, .thirdcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .firstcontainer {
    width: 50%;
    margin-left: 10vh;
    height: 30vh;
  }

  .secondcontainer {
    height: 80vh;
    background-image: url('https://i.imgur.com/EOSIyPY.png');
    color: white;
  }

  .thirdcontainer {
    height: 65vh;
    background-image: url('https://i.imgur.com/sIBz4L3.png?3');
    background-size: contain;
    color: white;
  }